.Button {
    padding: 2px;
    display: block;
    color: white;
    background-color: rgba(51, 51, 153, 0.8);
    border-radius: 5px;
    height: 25%;
    cursor: pointer;
}

button:not(.Disabled):hover,
.Button:not(.Disabled):active {
    color: white;
    background-color: rgba(51, 51, 153, 1);
}

.Disabled {
    background-color: grey;
    color: #000000;
    pointer-events: none;
    cursor: no-drop;
}